body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tagline {
  opacity: 0.6;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

button.button-danger {
  background: #ed2000;
}

button.button-danger:hover,
button.button-danger:focus {
  background: #ba1900;
}
